body {
    margin: 0;
    padding: 0;
}

.content{
    display:grid;
    grid-template-rows: 1fr 15fr 1fr;
    grid-template-columns: 1fr;

    width: 100vw;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;
}

.pages {
    display: flex;
    width: 70%;
    justify-content: space-evenly;

    border: 1px solid;
    border-color: black;
}

.subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;

    height: 70%;
    width: 70%;
    gap: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 10px;
    gap: 15px;
    padding: 25px;
    width: 50%;
    
    border: 1px solid;
    border-color: black;
}

.img {
    border: 1px solid;
    border-color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;
}