.content{
    display:grid;
    grid-template-rows: 1fr 25fr 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid;
    border-color: black;
}
.pages {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    border-color: black;
}
.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: black;
    
    
    gap: 5px;
}
.card {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 15px;
    align-items: center;
    border: 1px solid;
    border-color: black;
    padding: 25px;
}
.img {
    border: 1px solid;
    border-color: black;
    padding: 20px;
}
.footer{
    border: 1px solid;
    border-color: black;
}