body {
    margin: 0;
    padding: 0;
}

.content{
    display:grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr;

    width: 100vw;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;
}

.pages {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    
    border: 1px solid;
    border-color: black;
}

.subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-color: black;

    height: 85%;
    width: 85%;
    gap: 5px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    gap: 15px;

    border: 1px solid;
    border-color: black;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
    padding: 25px;
    width: inherit;

    border: 1px solid;
    border-color: black;
}
.card div:first-child {
    font-weight: bold;
}


.img {
    border: 1px solid;
    border-color: black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.desc{
    width: 80%;
}

.subtitle{
    font-weight: bold;
    padding: 10px;
}
